<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PwC Summarizer</title>

        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" type="image/x-icon" href="static/images/pwc-favicon.ico" />
        <link rel="stylesheet" href="static/css/summarizer.css">
        <link rel="stylesheet" href="https://pwcappkit-static.azureedge.net/cdn/release/3.0.0/vendor.min.css"> 
        <link rel="stylesheet" href="https://pwcappkit-static.azureedge.net/cdn/release/3.0.0/appkit.min.css">
    </head>

    <body class="no-outline">
        <div class="d-flex flex-column a-bg-f5f a-template-container">

            <!-- Notifications sticky bar -->
            <div class="bar a-notification a-notification-hide a-transition-500ms" data-hide="3">
                <span class="notification-content">
                    <span id="notification-text" class="text-left"></span>
                </span>
                <div class="a-countdown-wrapper">
                </div>
            </div>

            <!-- Header -->
            <div class="a-header a-hfn-header-container d-flex align-items-center justify-content-between a-px-20">
                <div class="d-flex align-items-center">
                    <div class="a-pwc-logo a-md"></div>
                    <span class="divider a-mx-20"></span>
                    <div class="font-weight-medium a-nowrap">PwC Summarizer</div>
                    <span class="divider a-mx-20"></span>
                    <ul class="d-none d-md-flex menu">
                        <li class="font-weight-medium a-nowrap item"><a href="preproc">File Summarization</a></li>
                        <li class="font-weight-medium a-nowrap item active-link"><a href="summary">Text Summarization</a></li>
                        <li class="font-weight-medium a-nowrap item"><a href="keyExt">Keyword Extraction</a></li>
                    </ul>
                </div>
                <div class="d-flex align-items-center a-pl-10">
                    <div class="a-logout d-none d-md-flex">
                        <button aria-expanded="false" aria-haspopup="true" class="user-name a-bg-primary a-text-white size-24" data-toggle="dropdown">FL</button>
                        <div class="dropdown-menu dropdown-menu-right a-shadow-sm border-0 a-user-setting-panel-one w-15">
                            <div class="dropdown-title">WELCOME FIRST LASTNAME</div>
                            <div class="user-logout">
                                <button class="sign-out-btn a-btn a-btn-primary a-btn-lg">Log Out</button>
                            </div>
                        </div>
                    </div>
                    <div class="d-sm-flex d-md-none a-logout align-items-center">
                        <button class="user-name a-bg-primary a-text-white size-24" aria-expanded="false" aria-haspopup="true"data-toggle="dropdown">
                            <span class="appkiticon icon-menu-outline"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right a-shadow-sm border-0 a-user-setting-panel-one w-15">
                            <div class="dropdown-title">WELCOME FIRST LASTNAME</div>
                            <ul class="user-infor-list">
                                <li class="user-infor-list-item"><a href="preproc">File Summarization</a></li>
                                <li class="user-infor-list-item active-link"><a href="summary">Text Summarization</a></li>
                                <li class="user-infor-list-item"><a href="keyExt">Keyword Extraction</a></li>
                                <li class="user-infor-list-item"><a href="transcriber">Voice Transcriber</a></li>
                            </ul>
                            <div class="user-logout border-top">
                                <button class="sign-out-btn a-btn a-btn-primary a-btn-lg">Log Out</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Main content -->
            <div class="a-template-content a-bg-f5f" id="hfn-content-container">
                <div class="container" style="max-width: 1200px!important;">
                
                    <div class="row d-flex">
                        <div class="col-12 d-table">
                            <div class="a-panel a-m-20">
                                <div class="a-panel-header"><span>PwC Summarizer</span></div>
                                <div class="a-pb-20 a-pt-10 mw-100-percent overflow-hidden">
                                    <div class="a-font-16">
                                        PwC Summarizer is a tool that can be used to condense text in all European languages, based on conditions set by the user.
                                        Follow the below steps to get your summarized text:
                                        <ul class="a-px-20">
                                            <li>1. Type/Paste the text you would like to summarize.</li>
                                            <li>2. Choose the length of the summary as a percentage of the input text and click Submit.</li>
                                            <li>3. Scroll down to view your results in the Summarized text box at the bottom of your screen.</li>
                                            <li>4. Use the Clipboard button to copy the resulting summarized text or the Reset button to summarize another text.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex">
                        <div class="col-12 d-table">
                            <div class="a-panel a-m-20">
                                <div class="a-panel-header justify-content-between">
                                    <span>Text summarization</span>
                                    <div class="d-flex justify-content-between">
                                        <button onclick="resetSummarizer()" class="a-btn a-btn-primary a-btn-md a-mx-10 w-8" title="Do another summarization">
                                            <span class="appkiticon a-btn-icon icon-refresh-outline"></span>Reset
                                        </button>
                                        <button onclick="submitText()" class="a-btn a-btn-primary a-btn-md w-8" title="Copy text to clipboard">
                                            <span class="appkiticon a-btn-icon icon-circle-checkmark-outline"></span>Submit
                                        </button>
                                    </div>
                                </div>
                                <div class="a-py-20 mw-100-percent overflow-hidden">

                                    <div class="a-slider-wrapper mw-420 a-p-10 m-auto">
                                        <div class="a-slider-header">
                                            <div class="mr-auto a-label-wrapper">
                                                <label class="a-slider-label">Choose the length of the summary as a percentage of the input text</label>
                                            </div>
                                            <div class="a-label-wrapper">
                                                <input aria-label="slider value" class="a-text-input a-slider-input slider-input-focus" id="slider-val" name="slider-val" size="20" type="text" value="0.5">
                                            </div>
                                        </div>
                                        <div class="a-slider" id="slider"></div>
                                    </div>



                                    <div class="a-m-10 add-comments bt-active-wrapper">
                                        <div class="d-flex flex-column a-textarea-box">
                                            <textarea id="textToSummarize" rows="10" class="a-text-field txt-input txt-input-l4 custom-scrollbar"></textarea>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex">
                        <div class="col-12 d-table">
                            <div class="a-panel a-m-20">
                                <div class="a-panel-header justify-content-between align-items-center">
                                    <span>Summarized text</span>
                                    <button onclick="copyToClipBoard()" class="a-btn a-btn-primary a-btn-md w-8" title="Copy text to clipboard">
                                        <span class="appkiticon a-btn-icon icon-duplicate-outline"></span>Clipboard
                                    </button>
                                </div>
                                <div class="a-pb-20 a-pt-10">
                                    <div class="a-m-10 add-comments bt-active-wrapper">
                                        <div class="d-flex flex-column a-textarea-box">
                                            <textarea id="summarizedText" rows="10" class="a-text-field txt-input txt-input-l4 custom-scrollbar"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Footer -->
            <div class="footer-wrapper flex-shrink-0 a-p-10 text-center">
                <div class="a-footer a-text-grey">© 2020 PwC. PwC refers to the PwC network and/or one or more of its member firms, each of which is a separate legal entity. Please see www.pwc.com/structure for further details.</div>
            </div>

        </div>
    </body>

    <script src="https://pwcappkit-static.azureedge.net/cdn/release/3.6.0/vendor.min.js"></script>
    <script src="https://pwcappkit-static.azureedge.net/cdn/release/3.0.0/appkit.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            $(".a-stepper-fun").stepper();

            $('#slider').slider({range: "min", min: 0, max: 1, value: 0.50, step: 0.01,
                slide(event, ui) {
                    $('#slider-val').val(formatNumber(ui.value));
                },
                change(event, ui) {
                    $('#slider-val').val(formatNumber(ui.value));
                }
            });
 
            $('.a-slider-input').not('.range').on('change', e => {
                const target = $(e.target),
                    num = target.val().replace(/,/g, ''),
                    value = isNaN(num) ? 0 : num,
                    slider = target.closest('.a-slider-header').siblings('.a-slider');
                    slider.slider('value', value);
            });
 
            function formatNumber(num) {
                while (/(\d+)(\d{3})/.test(num.toString())) {
                    num = num.toString().replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
                }
                return num;
            }
        });

        function submitText() {
            var text = $('#textToSummarize').val();

            var numberOfWords = $('#number-words').val();
            var percentage = $('#slider-val').val();

            var data = { text: text, percentage: percentage, numberOfWords: numberOfWords }

            if (text != undefined && text != '') {
                $.ajax({
                    url: "/summarize",
                    type: "POST",
                    data: { text: text, percentage: percentage, numberOfWords: numberOfWords },
                    success: function (response) {
                        var text = response.result.result;
                        $("#summarizedText").val(text);
                        showNotification("success", "The text was successfully summarized.");
                    },
                    error: function () {
                        showNotification("error", "An error occurred, your request could not be processed.");
                    }
                });
            }
        };

        function resetSummarizer() {
            $('#slider-val').slider({range: "min", min: 0, max: 1, value: 0.50, step: 0.01});
            $('#number-words').val(0);
            $('#textToSummarize').val('');
            $('#summarizedText').val('');
        };

        function copyToClipBoard() {
            var copyText = document.getElementById("summarizedText");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            showNotification("warning", "Content was copied to the clipboard.");
        };

        function showNotification(type, text) {
            if($('.a-notification').hasClass('success')) {
                $('.a-notification').removeClass('success');
            }
            if($('.a-notification').hasClass('error')) {
                $('.a-notification').removeClass('error');
            }
            if($('.a-notification').hasClass('warning')) {
                $('.a-notification').removeClass('warning');
            }

            $('.a-notification').addClass(type);
            $('#notification-text').html(text);
            $('.a-notification').notification('show');
        }
    </script>
</html>
